% extends 'layout.html.twig' %}

{% block page_title %}{{ parent() }} - register {% endblock %}

{% block content %}
    {{ path }}
    <div class="errors">
        {% for error in errors %}
            {{ error }} <br>
        {% endfor %}
    </div>
    <form action="?action=register" method="POST" class="registerForm">
        <label for="username">Username</label><br>
        <input type="text" name="username" required id="username" maxlength="254" class="form-control" value="{{ usernamee }}"><br>
        <label for="email">Email</label><br>
        <input type="email" name="email" required id="email" maxlength="254" class="form-control" value="{{ email }}"><br>
        <label for="password">Password</label><br>
        <input type="password" name="password" required id="password" maxlength="254" minlength="6" class="form-control"><br>
        <label for="password_repeat">Repeat password</label><br>
        <input type="password" name="password_repeat" required id="password_repeat" maxlength="254" minlength="6" class="form-control"><br>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
{% endblock %}