{% extends 'layout.html.twig' %}
{% block page_title %}Twitter{% endblock %}
{% block content %}
    {% if session is not defined %}
        <br>Welcome to Tweeter
    {% else %}
        <h1>Hello {{ session.u_first }}</h1>
        <h2>email : {{ session.u_email }}</h2>
        <h2>{{ session.u_first }} twitt's:</h2>
        {% for posts in data %}
            <ul>
                <li><h4><a href="?action=userprofile">{{ posts.firstname }}</a>   Posted {{ posts.creation_date }}</h4>
                    <div class="msg">{{ posts.content }}
                    </div>                            <br>

                </li>
            </ul>
        {% endfor %}

    {% endif %}
{% endblock %}